@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3>Hello World.</h3>
<p>where did you put the guacomole?</p>

<p>You requested this page at @Model.CurrentTime.</p>
<p>Damn dude -  @Model.MyMessage</p>